<header>
  <div class="overlay" [class.active]="active"></div>
  <nav>
    <!-- MOBILE MENU -->

    <div class="container navbar" appClickOutside (clickOutside)="closeMenu()">
      <div class="music">
        <button (click)="playMusic()" [disabled]="isMusicPlaying()">
          <img
            src="../../assets/audioON.svg"
            alt="play"
            width="22"
            height="22"
          />
        </button>
        <button (click)="pauseMusic()" [disabled]="!isMusicPlaying()">
          <img
            src="../../assets/audioOFF.svg"
            alt="pause"
            width="22"
            height="22"
          />
        </button>
      </div>
      <div
        class="burger-menu"
        (click)="onBurgerClicked()"
        [class.active]="active"
        role="button"
        aria-roledescription="navigation menu"
        tabindex="0"
      >
        <div class="burger-container">
          <div class="burger-inner"></div>
        </div>
      </div>
      <ul class="menu" [class.active]="active">
        <li><span (click)="scrollTo('section1')">ABOUT ME</span></li>
        <li><span (click)="scrollTo('section3')">WORK EXPERIENCE</span></li>
        <li><span (click)="scrollTo('section4')">MY PROJECT</span></li>
        <li><span (click)="scrollTo('section5')">CONTACTS</span></li>
        <div>
          <button (click)="switchLanguage('en')">
            <img src="assets/en.png" alt="English" width="32" height="32" />
          </button>
          <button (click)="switchLanguage('es')">
            <img src="assets/es.png" alt="Spanish" width="32" height="32" />
          </button>
          <button (click)="switchLanguage('it')">
            <img src="assets/it.png" alt="Italian" width="32" height="32" />
          </button>
        </div>
      </ul>
    </div>
    <!-- DESKTOP MENU -->
    <div class="desktop-menu">
      <span (click)="scrollTo('section1')">ABOUTME</span>
      <span (click)="scrollTo('section3')">WORK</span>
      <span (click)="scrollTo('section4')">PROJECTS</span>
      <span (click)="scrollTo('section5')">CONTACTS</span>
      <button (click)="switchLanguage('en')">
        <img src="assets/en.png" alt="English" width="32" height="32" />
      </button>
      <button (click)="switchLanguage('es')">
        <img src="assets/es.png" alt="Spanish" width="32" height="32" />
      </button>
      <button (click)="switchLanguage('it')">
        <img src="assets/it.png" alt="Italian" width="32" height="32" />
      </button>
      <div class="music">
        <button (click)="playMusic()" [disabled]="isMusicPlaying()">
          <img
            src="../../assets/audioON.svg"
            alt="play"
            width="32"
            height="32"
          />
        </button>
        <button (click)="pauseMusic()" [disabled]="!isMusicPlaying()">
          <img
            src="../../assets/audioOFF.svg"
            alt="pause"
            width="32"
            height="32"
          />
        </button>
      </div>
    </div>
  </nav>
</header>
