<section id="section5">
  <form class="form" (ngSubmit)="sendEmail()">
    <label for="from">From:</label>
    <input id="from" [(ngModel)]="from" name="from" required />

    <label for="subject">Subject:</label>
    <input id="subject" [(ngModel)]="subject" name="subject" required />

    <label for="text">Message:</label>
    <textarea id="text" [(ngModel)]="text" name="text" required></textarea>

    <button type="submit">Send Email</button>
  </form>
  <div class="modal-overlay" [ngClass]="{ show: showModal }"></div>
  <div class="modal" [ngClass]="{ show: showModal }">
    <div class="modal-content">
      <span>Email send success</span>
      <span>Thanks for contact me! I will reply soon!</span>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
</section>
