<section id="section3">
  <h2>{{ "workExperience.sectionTitle" | translate }}</h2>
  <div class="curriculum">
    <span>{{ "workExperience.curriculum" | translate }}</span>
    <button (click)="downloadEnglish()">ENG</button>
    <button (click)="downloadSpanish()">ESP</button>
  </div>
  <div class="card">
    <div class="framework">
      <h3>{{ "workExperience.raam.company" | translate }}</h3>
      <span>{{ "workExperience.raam.position" | translate }}</span>
      <span>{{ "workExperience.raam.dates" | translate }}</span>
      <p>
        {{ "workExperience.raam.description" | translate }}
      </p>
    </div>
    <div class="framework">
      <h3>{{ "workExperience.naf.company" | translate }}</h3>
      <span>{{ "workExperience.naf.position" | translate }}</span>
      <span>{{ "workExperience.naf.dates" | translate }}</span>
      <p>
        {{ "workExperience.naf.description" | translate }}
      </p>
    </div>
  </div>
</section>
