<section>
  <h2>WORKING EXPERIENCE</h2>
  <div>
    <span>My Curriculum 💾</span>
    <button (click)="downloadEnglish()">ENG</button>
    <button (click)="downloadSpanish()">ESP</button>
  </div>

  <p>
    work works!work works!work works!work works!work works!work works!work
    works!work works!work works!work works!work works!work works!work works!work
    works!work works!work works!work works!work works!work works!work works!work
    works!work works!work works!work works!work works!work works!work works!work
    works!work works!work works!work works!work works!work works!work works!work
    works!work works!work works!work works!work works!work works!work works!work
    works!work works!work works!work works!work works!
  </p>
</section>
