<section>
  <h2>WORKING EXPERIENCE</h2>
  <div class="curriculum">
    <span>My Curriculum: 💾</span>
    <button (click)="downloadEnglish()">ENG</button>
    <button (click)="downloadSpanish()">ESP</button>
  </div>
  <div class="work">
    <div class="framework">
      <h3>RAAM Delivery SL, Madrid</h3>
      <p>Administrativo 2020 - 2023</p>
      <p>
        Uso de sistemas informáticos y tecnologicós (excel, word). Coordinación
        de los horarios de trabajo y tareas del equipo de 42 personas.
        Elaboración de informes y reportes periódicos sobre el andamento de
        trabajo.
      </p>
    </div>
    <div class="framework">
      <h3>NAF SERVIZI SRL, Roma</h3>
      <p>Informatico / Administrativo consultora 2012-2018</p>
      <p>
        Encargado de la creación de páginas y sitios web funcionales e
        intuitivos para los clientes usando Wordpress. Mantenimiento y
        actualizacion de las aplication web existentes para garantizar las
        seguridad y el rendimiento. Uso de sistema informaticos y tecnologico
        (excel, word). Servicio de gestoría por terceros.
      </p>
    </div>
  </div>
</section>
