<section id="section2">
  <h2>QUALIFICATIONS:</h2>
  <div class="card">
    <div class="framework">
      <h2>Fullstack Web Developer</h2>
      <span>ISDI CODERS</span>
      <span>Madrid - 2024</span>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        corporis magnam praesentium esse. Beatae veniam dolore, molestias
        adipisci dicta fugit nemo inventore repellendus et quasi esse quisquam
        dolores minima eos!
      </p>
    </div>
    <div class="framework">
      <h2>FP Quimica y Biologia</h2>
      <span>IPSIA E. CAVAZZA</span>
      <span>Pomezia (Italia) - 2006</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, omnis
        laudantium, voluptates cumque harum debitis libero, suscipit praesentium
        nulla quasi et sapiente perspiciatis quo dolores quae neque illo?
        Voluptatibus, dolorum.
      </p>
    </div>
  </div>
  <h2>CERTIFICATION:</h2>
  <div class="card">
    <div class="framework">
      <h2>JAVA EE</h2>
      <span>Core Network sl</span>
      <span>Madrid - 2024</span>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        corporis magnam praesentium esse. Beatae veniam dolore, molestias
        adipisci dicta fugit nemo inventore repellendus et quasi esse quisquam
        dolores minima eos!
      </p>
    </div>
  </div>
  <h2>KNOWLEDGE:</h2>
  <ul>
    <li>
      <img
        src="../../assets/html.svg"
        alt="HTML icon"
        width="25"
        height="25"
      />HTML
    </li>
    <li>
      <img
        src="../../assets/css.svg"
        alt="CSS icon"
        width="25"
        height="25"
      />CSS
    </li>
    <li>
      <img
        src="../../assets/javascript.svg"
        alt="JAVASCRIPT icon"
        width="25"
        height="25"
      />JAVASCRIPT
    </li>
    <li>
      <img
        src="../../assets/typescript.svg"
        alt="TYPESCRIPT icon"
        width="25"
        height="25"
      />TYPESCRIPT
    </li>
    <li>
      <img
        src="../../assets/java.svg"
        alt="JAVA icon"
        width="25"
        height="25"
      />JAVA
    </li>
    <li>
      <img
        src="../../assets/postgresql.svg"
        alt="POSTGRES icon"
        width="25"
        height="25"
      />POSTGRES
    </li>
    <li>
      <img
        src="../../assets/angular.svg"
        alt="ANGULAR icon"
        width="25"
        height="25"
      />ANGULAR
    </li>
    <li>
      <img
        src="../../assets/nestjs.svg"
        alt="NEST icon"
        width="25"
        height="25"
      />NEST
    </li>
    <li>
      <img
        src="../../assets/react.svg"
        alt="REACT icon"
        width="25"
        height="25"
      />REACT
    </li>
    <li>
      <img
        src="../../assets/ionic.svg"
        alt="IONIC icon"
        width="25"
        height="25"
      />IONIC
    </li>
    <li>
      <img
        id="section2"
        src="../../assets/spring.svg"
        alt="SPRINGBOOT icon"
        width="25"
        height="25"
      />SPRINGBOOT
    </li>
  </ul>
</section>
