<section id="section2">
  <h2>QUALIFICATIONS:</h2>
  <div class="card">
    <div class="framework">
      <h2>Fullstack Web Developer</h2>
      <span>ISDI CODERS</span>
      <span>Madrid - 2024</span>
      <p>
        During the intensive Fullstack Web Development course at ISDI Coders, I
        acquired advanced skills in web development, specializing in both
        front-end and back-end technologies. I worked on real-world projects
        using modern technology stacks such as HTML, CSS, JavaScript,
        TypeScript, Angular, Node.js, Express, NestJS, and PostgreSQL. This
        experience allowed me to develop a practical approach to programming,
        from user interface design to database management, with a focus on best
        practices and Agile methodologies. As the final part of the course, I
        presented a personal project, MotoMarket, which I had already started
        developing on my own.
      </p>
    </div>
    <div class="framework">
      <h2>FP Quimica y Biologia</h2>
      <span>IPSIA E. CAVAZZA</span>
      <span>Pomezia (Italia) - 2006</span>
      <p>
        I completed the Vocational Training program in Chemistry and Biology at
        IPSIA E. Cavazza, where I acquired a strong foundation in chemical and
        biological sciences. During the course, I studied subjects such as
        organic and inorganic chemistry, microbiology, and laboratory
        techniques. I developed practical skills through laboratory experiments
        and research projects, which allowed me to gain a better understanding
        of the practical applications of science in industrial and environmental
        contexts.
      </p>
    </div>
  </div>
  <h2>CERTIFICATION:</h2>
  <div class="card">
    <div class="framework">
      <h2>JAVA EE</h2>
      <span>Core Network sl</span>
      <span>Madrid - 2024</span>
      <p>
        I completed an intensive course on Java EE (Enterprise Edition) at Core
        Network SL in Madrid. During the course, I gained advanced skills in
        developing enterprise applications using the Java EE framework. I
        studied and applied technologies such as Servlets, JSP (JavaServer
        Pages), EJB (Enterprise JavaBeans), and JPA (Java Persistence API), as
        well as software design and architecture techniques for scalable and
        maintainable applications. I worked on real-world projects that allowed
        me to integrate various components and services, enhancing my ability to
        manage and develop complex software solutions.
      </p>
    </div>
  </div>
  <h2>KNOWLEDGE:</h2>
  <ul>
    <li>
      <img
        src="../../assets/html.svg"
        alt="HTML icon"
        width="25"
        height="25"
      />HTML
    </li>
    <li>
      <img
        src="../../assets/css.svg"
        alt="CSS icon"
        width="25"
        height="25"
      />CSS
    </li>
    <li>
      <img
        src="../../assets/javascript.svg"
        alt="JAVASCRIPT icon"
        width="25"
        height="25"
      />JAVASCRIPT
    </li>
    <li>
      <img
        src="../../assets/typescript.svg"
        alt="TYPESCRIPT icon"
        width="25"
        height="25"
      />TYPESCRIPT
    </li>
    <li>
      <img
        src="../../assets/java.svg"
        alt="JAVA icon"
        width="25"
        height="25"
      />JAVA
    </li>
    <li>
      <img
        src="../../assets/postgresql.svg"
        alt="POSTGRES icon"
        width="25"
        height="25"
      />POSTGRES
    </li>
    <li>
      <img
        src="../../assets/angular.svg"
        alt="ANGULAR icon"
        width="25"
        height="25"
      />ANGULAR
    </li>
    <li>
      <img
        src="../../assets/nestjs.svg"
        alt="NEST icon"
        width="25"
        height="25"
      />NEST
    </li>
    <li>
      <img
        src="../../assets/react.svg"
        alt="REACT icon"
        width="25"
        height="25"
      />REACT
    </li>
    <li>
      <img
        src="../../assets/ionic.svg"
        alt="IONIC icon"
        width="25"
        height="25"
      />IONIC
    </li>
    <li>
      <img
        id="section2"
        src="../../assets/spring.svg"
        alt="SPRINGBOOT icon"
        width="25"
        height="25"
      />SPRINGBOOT
    </li>
  </ul>
</section>
