<section id="section1">
  <h1>DANIELE QUINTILIANI</h1>
  <img
    class="profilepic"
    src="../../assets/fotoprofilo500x500.webp"
    alt="Profile pics"
    height="100"
  />
  <div>
    <p>HELLO! I'm Daniele!</p>
    <p>
      I'm {{ currentYear - 1986 }} years old and I'm a Full Stack Developer.
    </p>
    <p>
      I starting programming when was young with my Commodore64! I grow up with
      the love for informatics and videogames! But when i must choose a school
      the only possibility that i found was Chemistry and Biology.
    </p>
    <p>
      With work my path bring other direction but i always have the love for the
      informatics. And now that i get the possibility i choose to follow my
      passion.
    </p>
  </div>
</section>
