<section id="section1">
  <h1>{{ "profile.title" | translate }}</h1>
  <img
    class="profilepic"
    src="../../assets/fotoprofilo500x500.webp"
    alt="Profile pics"
    height="100"
    width="100"
  />
  <div>
    <p>{{ "profile.greeting" | translate }}</p>
    <p>
      {{ "profile.description1" | translate : { age: age } }}
    </p>
    <p>
      {{ "profile.description2" | translate }}
    </p>
    <p>
      {{ "profile.description3" | translate }}
    </p>
  </div>
</section>
