/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "PressStart2P-Regular";
  src: url("./assets/PressStart2P-Regular.ttf");
}
html {
  background-color: #444444;
  color: rgb(8, 238, 0);
  line-height: 1.4;
  font-family: "PressStart2P-Regular", sans-serif;
}
/* h1,
h2,
h3,
h4 {
  color: rgb(214, 0, 0);
} */
.framework {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 1rem;
  background-color: #727272;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
