<section id="section1">
  <h1>DANIELE QUINTILIANI</h1>
  <img
    class="profilepic"
    src="../../assets/fotoprofilo500x500.webp"
    alt="Profile pics"
    height="100"
  />
  <div>
    <p>HELLO! I'm Daniele!</p>
    <p>I have 39 years old and I'm a Full Stack Developer.</p>
    <p>
      I starting programming when was young with my Commodore64! I grow up with
      the love for informatics and videogames! But when i must choose a school
      the only possibility that i found was Chemistry and Biology.
    </p>
    <p>
      With work my path bring other direction but i always have the love for the
      informatics. And now that i get the possibility i choose to follow my
      passion.
    </p>
    <h2>KNOWLEDGE:</h2>
    <ul>
      <li>
        <img
          src="../../assets/html.svg"
          alt="HTML icon"
          width="25"
          height="25"
        />HTML
      </li>
      <li>
        <img
          src="../../assets/css.svg"
          alt="CSS icon"
          width="25"
          height="25"
        />CSS
      </li>
      <li>
        <img
          src="../../assets/javascript.svg"
          alt="JAVASCRIPT icon"
          width="25"
          height="25"
        />JAVASCRIPT
      </li>
      <li>
        <img
          src="../../assets/typescript.svg"
          alt="TYPESCRIPT icon"
          width="25"
          height="25"
        />TYPESCRIPT
      </li>
      <li>
        <img
          src="../../assets/java.svg"
          alt="JAVA icon"
          width="25"
          height="25"
        />JAVA
      </li>
      <li>
        <img
          src="../../assets/postgresql.svg"
          alt="POSTGRES icon"
          width="25"
          height="25"
        />POSTGRES
      </li>
      <li>
        <img
          src="../../assets/angular.svg"
          alt="ANGULAR icon"
          width="25"
          height="25"
        />ANGULAR
      </li>
      <li>
        <img
          src="../../assets/nestjs.svg"
          alt="NEST icon"
          width="25"
          height="25"
        />NEST
      </li>
      <li>
        <img
          src="../../assets/react.svg"
          alt="REACT icon"
          width="25"
          height="25"
        />REACT
      </li>
      <li>
        <img
          src="../../assets/ionic.svg"
          alt="IONIC icon"
          width="25"
          height="25"
        />IONIC
      </li>
      <li>
        <img
          id="section2"
          src="../../assets/spring.svg"
          alt="SPRINGBOOT icon"
          width="25"
          height="25"
        />SPRINGBOOT
      </li>
    </ul>
  </div>
</section>
